/*body {*/
    /*background-color: #2D487F;*/
    /*padding: 2.1rem 3.4rem;*/
    /*text-align: center;*/
/*}*/

.ninja {
    display: inline-block;
    position: relative;
}
.ninja .head {
    position: relative;
    border-radius: 100%;
    height: 142.85714px;
    overflow: hidden;
    width: 166.66667px;
    z-index: 4;
}
.ninja .hood {
    height: 62.5px;
    width: 100%;
}
.ninja .mask {
    height: 50px;
    width: 100%;
}
.ninja .face {
    height: 31.25px;
    width: 100%;
}

.hood {
    background-color: #222222;
    display: block;
    position: relative;
}

.mask {
    background-color: #222222;
    display: block;
    margin-top: 31.25px;
    position: relative;
}

.face {
    background-color: #d7b283;
    left: 50%;
    position: absolute;
    top: 62.5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.face .eye {
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 56%;
    width: 60px;
}
.face .eye.left {
    left: 25%;
    -webkit-transform: rotate(6deg) translate(-25%, -18%);
    transform: rotate(6deg) translate(-25%, -18%);
}
.face .eye.right {
    right: 25%;
    -webkit-transform: rotate(-6deg) translate(25%, -18%);
    transform: rotate(-6deg) translate(25%, -18%);
}
.face .eye:after, .face .eye:before {
    content: '';
    display: block;
    position: absolute;
}
.face .eye:after {
    background-color: #222222;
    border-radius: 100%;
    height: 28%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 28%;
    z-index: 1;
}
.face .eye:before {
    background-color: #ffffff;
    border-radius: 56px;
    height: 60%;
    left: 0;
    top: -25%;
    width: 100%;
    z-index: 1;
}

.knot {
    background-color: #222222;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    right: -15%;
    top: 45%;
    -webkit-transform: scale(0.8) translate(-100%, 100%);
    transform: scale(0.8) translate(-100%, 100%);
    z-index: 1;
}
.knot:after, .knot:before {
    background-color: #222222;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    content: '';
    display: block;
    height: 18px;
    position: relative;
    width: 36px;
}
.knot:after {
    -webkit-transform: rotate(45deg) translate(-18%, -35%);
    transform: rotate(45deg) translate(-18%, -35%);
}
.knot:before {
    -webkit-transform: rotate(-45deg) translate(-18%, 42%);
    transform: rotate(-45deg) translate(-18%, 42%);
}

.tail {
    display: block;
    left: 100%;
    position: absolute;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}
.tail:after, .tail:before {
    content: '';
    display: block;
    position: absolute;
}
.tail:before {
    background-color: #222222;
}
.tail:first-child {
    -webkit-transform: rotate(28deg);
    transform: rotate(28deg);
    border-top: 14px solid #222222;
    border-right: 32px solid #222222;
    border-bottom: 14px solid transparent;
    border-left: 32px solid transparent;
}
.tail:first-child:before {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    height: 30px;
    right: -46px;
    top: -16px;
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
    width: 24px;
}
.tail:first-child:after {
    border-top: 15px solid #222222;
    border-right: 4px solid transparent;
    border-bottom: 15px solid #222222;
    border-left: 22px solid #222222;
    height: 0;
    right: -62px;
    top: -20px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 0;
}
.tail:last-child {
    top: -8px;
    left: calc(100% + 4px);
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
    border-top: 14px solid transparent;
    border-right: 32px solid #222222;
    border-bottom: 14px solid #222222;
    border-left: 32px solid transparent;
}
.tail:last-child:before {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 36%;
    height: 32px;
    right: -64px;
    top: -18px;
    -webkit-transform: rotate(-36deg);
    transform: rotate(-36deg);
    width: 48px;
}
.tail:last-child:after {
    border-top: 5px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 26px solid #222222;
    border-left: 8px solid #222222;
    height: 0;
    right: -69px;
    top: -28px;
    -webkit-transform: rotate(-29deg);
    transform: rotate(-29deg);
    width: 0;
}
